
$pc: 1990px; // PC
$tab: 768px; // タブレット
$sp: 500px;  // スマホ

// color

// 汎用色
// $pallette-black: #000;
// $pallette-white: #fff;

// テーマカラー
$main:#EDE7EF;
$sub:#CEA7E4;
$wht:#fff;
$blk:#000;
$lightgrey:#9D9D9D;
$yellow:#FFEB00;

// font-size
$day-font-size:12px; 
$btn-font-size:14px;       
$ttl-font-size:15px;    

// フォントファミリー
$base-font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo, serif;
$main-font-family: fot-tsukuardgothic-std, sans-serif;


// フォントウェイト
// $thin: 100;
// $extralight: 200;
// $regular: 300;
// $normal: 400;
// $medium: 500;
// $semibold: 600;
// $bold: 700;


// padding