@use "../variables" as v;
@use "../mixin" as m;


// variable
$main-font-family: fot-tsukuardgothic-std, sans-serif;
$yellow:#FFEB00;
$main:#EDE7EF;

// variable

// パンクズ仮

.header_title{
    margin: auto;
    width: 100%;
    max-width: 1200px;
    @media (max-width:  (v.$sp)) {
      width:90%;
      padding-top:10px;
      margin: auto;
    }
}

/*
pcmenu
-----------------------------------------------------------------
*/


.menu {
  @media screen and (min-width:768px) and (max-width: 2990px) {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  color:black;
  display:flex;
  padding-left:50px;
  }
  .spbtn{
    @media (max-width:  (v.$tab)) {
    width:50%;
    margin: auto;
    }
  }
}


.menu > li {
  width:10%; 
  // height: 52px;
  line-height: 50px;
  list-style:none;
  color:black;
  // margin:10px; メニュー10個以上の場合適用させる
  margin:20px;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  @media (max-width:  (v.$tab)) {
    // border-bottom: 1px solid #e6e6e6;
    width: 80%;
    margin: auto;
    }
}
.menu > li:hover {
  border-bottom: 3px solid #CEA7E4;
}

.menu > li a {
  font-family:$main-font-family;
  display: block;
  color: black;
  text-decoration: none;
  line-height:30px;
  text-align: center;
}

.menu > li a:hover {
  color: #D6A4E8;
  // text-decoration:underline;
  // text-decoration-color:#CEA7E4;
  // border-bottom: 3px solid #CEA7E4;
}

// 03.14追記　プルダウンメニューのPC表示とSP表示の切り替え箇所
ul.sub-menu {
  // SPのときの表示状態
  visibility: hidden;
  opacity: 0;
  @media (max-width: (v.$tab)) {
    // PCのときの表示状態
    visibility: visible;
    opacity: 1;
  }
  z-index: 1;
  background-color: #CEA7E4;

}

ul.menu__second-leve2 {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}


ul.menu__third-level {
  visibility: hidden;
  opacity: 0;
}

ul.menu__fourth-level {
  visibility: hidden;
  opacity: 0;
}

.menu > li:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sub-menu li {
background: #fff;
width:100%;
list-style: none;
line-height: 35px;
}


.menu__second-leve2 li {
background: #fff;
width: 40%;
list-style: none;
}

.menu__second-leve2 li img {
padding-left:22px;
}

.menu__third-level li {
  border-top: 1px solid #111;
}


.menu__third-level li a:hover {
  background: #2a1f1f;
}

.menu__fourth-level li a:hover {
  background: #1d0f0f;
}

.menu__third-leve2 li {
  border-top: 1px solid #111;
}


.menu__third-leve2 li a:hover {
  background: #2a1f1f;
}

.menu__fourth-leve2 li a:hover {
  background: #1d0f0f;
}
/* 下矢印 */

.init-bottom:after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0 0 15px;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

}

/* floatクリア */
.menu:before,
.menu:after {
  content: " ";
  display: table;
}

.menu:after {
  clear: both;
}

.menu {
  *zoom: 1;
}


.menu > li.menu-item-has-children {
  @media (max-width:  (v.$tab)) {
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  width: 85%;
  margin: auto;
  }
}

.menu > li.menu-item-has-children2 {
  margin-top:-10px;
}

li.menu-item-has-children ul.sub-menu {
  position: absolute;
  top: 40px;
  width: 100%;
  height:auto;
  margin-top:20px;
  padding:10px;
  border:solid 1px #6c757d;
  box-shadow: 1px grey;
  border-radius: 10px;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  @media (max-width:  (v.$sp)) {
    width:80%;
  }
}

li.menu-item-has-children:hover ul.sub-menu {
  top: 50px;
  visibility: visible;
  opacity: 1;
}



/* 下矢印 */
.init-bottom:after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0 0 15px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
display: none;
}


li.menu-item-has-children ul.sub-menu {
  position: absolute;
  top: 40px;
  width: 100%;
  border-radius:10px;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

li.menu-item-has-children:hover ul.sub-menu {
  top: 50px;
  visibility: visible;
  opacity: 1;
  list-style:none;
  
}

/*
pcmenu
-----------------------------------------------------------------
*/



// -----------アコーディオン---------------

/* floatクリア */
.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu {
    *zoom: 1;
}

.menu > li.menu-item-has-children {
    position: relative;
}

li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 40px;
    width: 100%;
    background: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border-radius:10px;
}

li.menu-item-has-children:hover ul.sub-menu {
    top: 50px;
    visibility: visible;
    opacity: 1;
}

li.menu-item-has-children ul.menu__second-leve2 {
    position: absolute;
    top: 40px;
    width: 100%;
    background: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

li.menu-item-has-children:hover ul.menu__second-leve2 {
    top: 50px;
    visibility: visible;
    opacity: 1;
}

/*ヘッダーアイコン*/
.header{
  background-color:#fff;
  padding-bottom:100px;
  padding-top:20px;
  box-shadow: 0 0 px grey;
  @media (max-width:  (v.$tab)) {
    padding-bottom:0px;
  }
  @media (max-width:  (v.$sp)) {
    padding-bottom:5px;
    margin-top: -40px;
  }
  .headerbox{
    display: flex;
    @media (max-width:  (v.$sp)) {
      display: block;
      display: none;
    }
  }
  &___left{
    width: 77%;
    padding-left: 250px;
    img{
      width: 100%;
    }
  }
  &___right{
    width: 20%;
    padding-top:45px;
    .btn{
      background-color:$yellow;
      border-radius:10px;
      padding:15px 30px 15px 30px;
      margin-right:auto;
      &:hover{
        opacity:80%;
      }
      button{
      border: 0;
      outline: 0;
      background: transparent;
      $main-font-family: fot-tsukuardgothic-std, sans-serif;
      a{
        &:hover{
          text-decoration: none;
        }
      }
      }
    }
  
}
  .menu__box{
    width:90%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    padding-top: 10px;
    @media screen and (max-width:1050px){
      width:100%;
    }
    @media (max-width:  (v.$sp)) {
      width:100%;
      background-color:#fff;
    }
    // headermenuのみ適用
    .menu > li {
      margin:40px 20px 40px 20px;
      padding-bottom: 35px;
  }
}
}

/* 下矢印 */
.init-bottom:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 0 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
	display: none;
}

/* floatクリア */

.header_icon:before,
.header_icon:after {
    content: " ";
    display: table;
}

.header_icon:after {
    clear: both;
}

.header_icon {
    *zoom: 1;
}

.header_icon > li.menu-item-has-children {
    position: relative;
}

li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 40px;
    width: 100%;
    background: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border-radius:10px;
    @media (max-width:  (v.$tab)) {
      width:80%;
    }
}

li.menu-item-has-children:hover ul.sub-menu {
    top: 50px;
    visibility: visible;
    opacity: 1;
	  list-style:none;
}

/*
pcmenu
-----------------------------------------------------------------
*/



/*------------------
accordion menu
------------------*/

.accordion_sp_e{
	padding-bottom: 30px;
}
.accordion_sp_e ul {
    list-style: none;
    margin:0;
}
.accordion_sp_e label{
    cursor: pointer;
}
.accordion_sp_e .toggle{
    display: none;
}
.accordion_sp_e .toggle + ul{
    max-height: 0;
    overflow: hidden;
    transition: all .5s ease-out;
}
.accordion_sp_e .toggle:checked + ul{
    max-height: 2000px;
    transition: all 2s ease-in;
}
.accordion_sp_e .sp_left_ttl_e{
	width: 100%;
	padding:10px 20px;
	box-sizing: border-box;
	background-color: #eee;
	color: #000;
	font-size: 19px;
	font-family: futura-pt, sans-serif;
 	 font-weight: 400;
  	font-style: normal;
}
.accordion_sp_e p a{
	width: 100%;
	padding:0px 20px 0px 20px;
	box-sizing: border-box;
	display: block;
	font-size: 14px;
	color: #111111;
	line-height: 3;
	background: url(img/arrow.png) no-repeat;
	background-size: 8px;
	background-position: 96% 50%;
	text-decoration: none;
}
.accordion_sp_e label{
	width: 100%;
	padding:0px 20px;
	box-sizing: border-box;
	display: block;
	font-size: 17px;
	border-bottom: 1px solid #CCC;
/*	color: #111111;*/
	line-height: 3;
	background: url(img/arrow.png) no-repeat;
	background-size: 13px;
	background-position: 96.5% 50%;
	 font-family: futura-pt, sans-serif;
  	font-weight: 400;
 	 font-style: normal;
}
.accordion_sp_e ul li a{
	width: 100%;
    padding: 0px 20px 0px 40px;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    color: #111111;
    line-height: 3;
    background-size: 8px;
    background-position: 96% 50%;
    text-decoration: none;
}
.accordion_sp_e ul label{
	width: 100%;
	padding:0px 20px 0px 40px;
	box-sizing: border-box;
	display: block;
	font-size: 14px;
	color: #111111;
	line-height: 2.5;
}
.accordion_sp_e ul ul li a{
	width: 100%;
	padding:0px 20px 0px 60px;
	box-sizing: border-box;
	display: block;
	font-size: 14px;
	color: #111111;
	line-height: 2.5;
	border-bottom: 1px solid #eee;
}
.accordion_sp_e ul ul label{
	width: 100%;
	padding:0px 20px 0px 60px;
	box-sizing: border-box;
	display: block;
	font-size: 14px;
	color: #111111;
	line-height: 2.5;
	border-bottom: 1px solid #eee;
}
.accordion_sp_e ul ul ul li a{
	width: 100%;
	padding:0px 20px 0px 80px;
	box-sizing: border-box;
	display: block;
	font-size: 14px;
	color: #111111;
	line-height: 2.5;
	border-bottom: 1px solid #eee;
}

/*------------------
schlool nav
------------------*/

.gnav_e {
	width: 100%;
	padding: 0 10px;
	height: 40px;
	background: #000;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
}
.gnav_e ul {
  width: 500px;
  height: 40px;
  margin: 0 auto 2px auto;
  list-style: none;
}
.gnav_e ul li {
	display: inline-block;
	text-align: center;
}
.gnav_e ul li a,
.gnav_e ul li a:link,
.gnav_e ul li a:visited {
	display: block;
	line-height: 40px;
	height: 40px;
	padding: 0 15px;
	background: #000;
	color: #fff;
	text-decoration: none;
}
.gnav_e ul li a:hover,
.gnav_e ul li a:active {
  background: #000;
}

// -----------アコーディオン---------------






/*//spmenu*/
/*//820px以下ハンバーガーメニュー適用//*/
@media screen and (min-width:1240px) {
	

  .navbar_brand{
      font-size:30px;
      margin-left:160px;
    }	
    
  nav{
    display: flex;
    flex-direction: row;
    
  }
  
    
  .menu{
    // width:90%; メニュー10個以上の場合適用させる
    width:80%;
    margin: auto;
    margin-left:90px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    text-align: center;
  }
  .menu ul{
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
       
  }
  .menu ul li{
    // padding: 0 1em;
    font-size: 0.9em;
    border-bottom: none;
    list-style: none;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
  }
  }
  
  
  /*//spmenu*/



  // スマホmenu

  #gNav a:hover {
    color: #999;
  }
  nav li a {
    font-size: 13px;
    letter-spacing: 0.2em;
  }
  nav .sub-menu,.mean-container .mean-nav ul ul {
    background: #fff;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  }
  @media only screen and ( max-width : 768px ) {
    #header {
      padding: 10px 0;
      height: 60px;
    }
    .h_logo {
      width: 200px;
      position: absolute;
      top:0px;
      left: 10px;
      z-index: 100;
    }
    #gNav .nav {
      overflow-y: auto;
      height: 100vh;
    }
    .mean-nav .container {
      padding: 0;
    }
    nav li .fa {
      display: none;
    }
  }
  
  @media print, screen and ( min-width : 769px ) {
    #header {
      height: 80px;
    }
    .h_logo img {
      width: 300px;
    }
    #h_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    #gNav ul {
      position: relative;
      display: flex;
    }
    #gNav li {
      position: relative;
      margin-right: 3em;
    }
    #gNav li:last-child {
      margin-right: 0;
    }
    #gNav li i {
      font-size: 16px;
      margin-left: 5px;
    }
    #gNav li a {
      position: relative;
      display: block;
      text-align: center;
      line-height: 80px;
    }
    #gNav .sub-menu {
      visibility: hidden;
      opacity: 0;
      z-index: 1;
      display: block;
      position: absolute;
      top: 50px;
      left: 50%;
      margin-left: -100px;
      width: 200px;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
    }
    #gNav .sub-menu a {
      padding: 10px;
      display: block;
      border-bottom: none;
      padding: 20px;
      line-height: 1.2em;
    }
    #gNav .sub-menu a:hover:after {
      content: none;
    }
    #gNav .sub-menu li {
      display: block;
      font-size: 16px;
      padding: 0;
      margin: 0;
    }
    #gNav .sub-menu li:last-child {
      border-bottom: none;
    }
    #gNav ul > li:hover {
      -webkit-transition: all .5s;
      transition: all .5s;
    }
    #gNav ul > li:hover a,#gNav .current-menu-item a,#gNav .current-menu-parent a {
      color: #bfd0ff;
    }
    #gNav li:hover ul.sub-menu {
      top: 80px;
      visibility: visible;
      opacity: 1;
      z-index: 9999;
    }
    #gNav li ul li:after {
      content: none;
    }
   #gNav li:hover ul.sub-menu a {
      color: #111;
    }
    #gNav .sub-menu li a:hover {
      background: #fff;
    }
    #gNav .contact_btn a:hover {
      color: #fff;
    }
  }
  

  .fa-fw {
    margin-right: 5px;
}
